body {
  font-family: Merienda;
  color: rgba(0, 0, 0, 0.8);

  background-color: whitesmoke;
  text-align: center;
  margin: 0;  
}

main {
  margin: 0 auto;
  padding: 0 15% 0 15%;
}

.banner {
  background-image: url('../images/forest-2.jpg');
  background-origin: margin-box;
  margin-top: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
  display: block;
}

#logo{
  position: absolute;
  top: -100px;
  max-width:500px;

  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

}
.banner h1 {
  font-size: 5em;
  color: whitesmoke;
  padding: 0;
  padding-top: 200px;
}

.banner h2 {

  font-size: 2em;
  color: whitesmoke
}

.btn{
  background-color: #F5C5BE;
  border-color: #F5C5BE;
  min-width: 200px;
  color: #539D8B;
}

.btn:hover, .bnt:active, .btn:focus{
  background-color: #F5C5BE !important;
  border-color: #F5C5BE !important;
}

p {
  font-size: 1.4em;
  color: rgb(0, 0, 0);
}


.question-card, .contact-form{
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.form-check{
  text-align: left;
}

#text-input, #dropdown-input{
  margin: 10px 0 10px 0;
}

select{
  text-align: left
}
@media (max-width: 320px) {

  .banner h1 {
    font-size: 2em;
  }

  .banner h2 {
    font-size: 1em;
  }

}